.account-container{
  margin-top: 40px;

}
.header-list{
  //display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-left: 30px;
  margin-right: 50px;
  width: 260px;
  height: 50vh;
  padding: 20px 20px;
  background-color: white;
  box-shadow: 0 20px 20px 0 rgba(28,37,42,.05), 0 50px 50px 0 rgba(28,37,42,.15);

  h1{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

}

.content{
  width:70%;
  min-width: 700px;
}
mat-list-item.my-active, mat-list-item:hover{
  a{
    color: rebeccapurple;
  }

  border-left: rebeccapurple 4px solid;
}

a{
  text-decoration: none;
  color: darkslategrey;
}




