<!--TODO
  we can add "Don't have a account? Create an account"
  let sign in button having same length with input box
  add keep me sign in
  add forget password
  -->
<div fxLayout fxLayoutAlign="center" style="margin: 60px 60px;">
  <mat-card fxLayout="column" fxFlex="1 1 50%" fxFlex.lt-sm="1 1 auto">
    <br>
    <mat-card-content>
      <div admin-tab-title class="mt-2 pb-2">Admin Sign in</div>
      <form ngForm #loginForm="ngForm" fxLayout="column" (ngSubmit)="login(loginForm)">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type="text" ngModel name="username" required minlength="3">
          <mat-error>Your username must be no less than 3 characters long</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" ngModel name="password" required>
<!--          <mat-error>Password is required</mat-error>-->
        </mat-form-field>
        <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>

        <div class="mt-2">
          <button mat-raised-button color="primary" type="submit" [disabled]="!!loginForm.invalid">Sign in</button> &nbsp;
          <button mat-raised-button color="secondary" type="submit" routerLink="/admin/register">Register</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
