mat-dialog-content{
  width: 500px;
  height: 500px;
}

.form-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.form-field {
  flex: 1 0 calc(100% - 16px);
}

.buttons{
  display: flex;
  justify-content: end;
  gap: 20px;
}
