<main>
  <div admin-tab-title>Customer List</div>
  <section class="actions" >
    <div class="search">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search for date/order/customer ..." [(ngModel)]="searchText" #input>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

  </section>

  <section class="order-table">
    <!-- customer table list -->
    <table mat-table [dataSource]="dataSource" matSort>
      <!--id column-->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User ID</th>
        <td mat-cell *matCellDef="let element">C{{element.user.id+1000}}</td>
      </ng-container>
      <!--customer username column-->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let element">{{element.user?.username}}</td>
      </ng-container>
      <!--customer name column-->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{element.firstName.concat(" ",element.lastName)}}</td>
      </ng-container>
      <!--email column-->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
      </ng-container>
      <!--phone column-->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let element">{{element.phone}}</td>
      </ng-container>
      <!--status column-->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">{{element.user?.status}}</td>
      </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" [routerLink]="['edit-customer',element.id]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteCustomer(element.user.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="Deactivate"
                  *ngIf="element.user?.status === 'Active'"
                  (click)="updateStatus('Inactive',element.user.id)">
            <mat-icon>block</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Activate"
                  *ngIf="element.user?.status === 'Inactive'"
                  (click)="updateStatus('Active',element.user.id)">
            <mat-icon>check_circle</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!--       Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[25, 50, 100]" aria-label="Select page of users"></mat-paginator>

  </section>
</main>
