<main>
  <mat-card>
    <mat-card-content>
      <app-sales-chart-header (periodChange)="updatePeriod($event)" [period]="period"></app-sales-chart-header>
      <div>
        <canvas baseChart
                [datasets]="chartData"
                [labels]="chartLabels"
                [options]="lineChartOptions"
                type="line"
                [legend]="lineChartLegend"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
    </mat-card-content>
  </mat-card>
</main>

