<main>
  <section class="header">
    <div class="mb-3">
      <button mat-stroked-button color="primary" routerLink="/admin/product-list">
        <mat-icon>arrow_back</mat-icon><span>Back to Product List</span>
      </button>
    </div>
    <div admin-tab-title>{{title}}</div>
  </section>
  <section class="product-card">
    <mat-card>
      <mat-card-content>
        <form class="d-flex gap-5" [formGroup]="productForm">
          <div class="info-section">
            <div class="form-group">
              <label>Product Name</label>
              <input formControlName="name" class="form-control" placeholder="Type product name" required>
            </div>
            <div class="form-group">
              <label>Product Description</label>
              <textarea formControlName="description" class="form-control" rows="3" placeholder="Type product description" required></textarea>
            </div>

            <!--category and brand-->
            <div class="two-column">
              <div class="form-group">
                <label>Category</label>
                <select formControlName="category" class="form-control" (change)="addNewCategory($event)">
                  <option [value]="category" *ngFor="let category of categories">{{category}}</option>
                  <option value="">Add New</option>
                </select>
              </div>
              <div class="form-group">
                <label>Brand</label>
                <select formControlName="brand" class="form-control" value="brand1" (change)="addNewBrand($event)">
                  <option [value]="brand" *ngFor="let brand of brands">{{brand}}</option>
                  <option value="">Add New</option>
                </select>
              </div>
            </div>
            <div class="two-column">
              <div class="form-group ">
                <label>Region</label>
                <select formControlName="region" class="form-control" value="region1" (change)="addNewRegion($event)">
                  <option [value]="region" *ngFor="let region of regions">{{region}}</option>
                  <option value="">Add New</option>
                </select>
              </div>
              <div class="form-group">
                <label>Taste</label>
                <input formControlName="taste" class="form-control"placeholder="Black Cherry, Red Berry">
              </div>
            </div>

            <!--style and abv-->
            <div class="two-column">
              <div class="form-group col-3">
                <label>Style</label>
                <input formControlName="style" class="form-control"placeholder="Elegant">
              </div>
              <div class="form-group col-2">
                <label>ABV</label>
                <input formControlName="abv" class="form-control"placeholder="14.5%">
                <mat-error *ngIf="productForm.get('abv')?.hasError('pattern')">should end with %</mat-error>
              </div>
            </div>
            <div class="two-column">
              <div class="form-group">
                <label>In Stock</label>
                <input formControlName="stockQty" type="number" min="0" class="form-control"placeholder="100">
              </div>
              <div class="form-group">
                <label>Capacity</label>
                <input formControlName="capacity" class="form-control"placeholder="750ml">
                <mat-error *ngIf="productForm.get('capacity')?.hasError('pattern')">should end with ml or L</mat-error>
              </div>
            </div>

          </div>
          <div class="upload-section">
            <label>Product Image</label>
            <div style="display: none">
              <input type="file" [accept]="requiredFileType"
                     (change)="onFileSelected($event)" #fileUpload>
            </div>
            <!--todo: modify progress-bar-->
<!--            <div class="progress">-->
<!--              <mat-progress-bar class="progress-bar" mode="determinate"-->
<!--                                [value]="totalProgress" *ngIf="totalProgress">-->
<!--              </mat-progress-bar>-->
<!--            </div>-->
            <div class="image-container">
              <img *ngIf="id||imageUrl$.value; else placeholderTemplate" [src]="imageUrl$|async" alt="product image" class="image-placeholder">
              <ng-template #placeholderTemplate>
                <div class="text-secondary">
                  Upload product image
                </div>
                <div class="mt-4 mt-2">
                  <button mat-mini-fab color="accent" class="upload-btn"
                          (click)="fileUpload.click()">
                    <mat-icon>cloud_upload</mat-icon>
                  </button>
                </div>
              </ng-template>

            </div>
            <div class="image-subtitle d-flex justify-content-between">
              <div class="small mb-3">
                <div>File types: .jpg, .jpeg, .png </div>
                <div>Max size: 1MB</div>
              </div>
              <div *ngIf="imageUrl$|async" class="d-flex flex-column">
                <button (click)="deleteImage()" mat-icon-button class="delete-image">
                  <mat-icon >cancel</mat-icon>
                </button>
                <span>Delete</span>
              </div>
            </div>
            <div class="price form-group row">
              <div class="input-group mt-4">
                <label class="col-4">Price</label>
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input type="number" min="0" formControlName="price" class="form-control" placeholder="99.99">
              </div>
            </div>
            <div class="add mt-2">
              <button *ngIf="!this.id; else updateTemplate" mat-raised-button color="primary" (click)="addProduct()" [disabled]="!productForm.valid">Add Product</button>
              <ng-template #updateTemplate>
                <button mat-raised-button color="primary" type="submit" [disabled]="!productForm.valid" (click)="updateProduct()">Update Product</button>
              </ng-template>
            </div>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </section>
  <section class="product-reviews mt-4">
    <mat-card>
      <mat-card-content>
        <app-product-review [product]="product" [deletable]=true></app-product-review>
      </mat-card-content>
    </mat-card>
  </section>


</main>
