<mat-dialog-content class="m-4">
  <h1 class="mb-2">Update Password</h1>
  <ng-container *ngIf="successMessage">
    <p class="text-success">{{successMessage}}</p>
  </ng-container>
  <form [formGroup]="passwordForm">
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Old Password</mat-label>
        <input matInput type="password" formControlName="oldPassword">
        <mat-error *ngIf="passwordForm.get('oldPassword')?.getError('incorrect')">
          Old password is incorrect.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row" formGroupName="passwordGroup">
      <mat-form-field appearance="outline" class="form-field mb-3">
        <mat-label>New Password</mat-label>
        <input type="password" matInput formControlName="newPassword">
        <mat-error *ngIf="passwordForm.get('passwordGroup.newPassword')?.getError('pattern')&& passwordForm.get('passwordGroup.newPassword')?.touched">
          Password must contain only lowercase letters and numbers, and be 6-20 characters long.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput formControlName="confirmPassword">
      </mat-form-field>
      <mat-error *ngIf="passwordForm.get('passwordGroup.confirmPassword')?.touched">
        {{passwordForm.get("passwordGroup")?.getError('passwordNotMatch')}}
      </mat-error>
    </div>
    <div class="buttons">
      <button mat-stroked-button (click)="dialogRef.close()">Cancel</button>
      <button mat-raised-button color="primary" (click)="save()" [disabled]="passwordForm.invalid">Save</button>
    </div>
  </form>
</mat-dialog-content>
