.shadow{
  box-shadow: 0 20px 20px 0 rgba(28,37,42,.05), 0 50px 50px 0 rgba(28,37,42,.15);
}

.profile-container{
  padding: 20px 30px;
  font-size: 16px;

}

.text-secondary{
  margin-bottom: 8px;
}

div button{
  width: 80px;
}


