.shadow{
  box-shadow: 0 20px 20px 0 rgba(28,37,42,.05), 0 50px 50px 0 rgba(28,37,42,.15);
}

.profile-container{
  padding: 50px 50px;
  margin: 30px 0px;
  font-size: 18px;
  min-height: 60vh;

}

.text-secondary{
  margin-bottom: 12px;
}

div button{
  width: 80px;
}


