*{
  font-size: 16px;
}

.product-detail-info{
  display: flex;
  gap: 10px;
}
.product-detail-image{
  flex: 40%;
}
.product-detail-text{
  flex: 60%;
}
.quantity-cart{
  .quantity-container{
    input{
      width:60px;
      height: 40px;
      padding-left: 8px;
      margin-left: 10px;
      margin-right: 30px;
    }
  }
}


h3{
  border-top: 1px solid lightgrey;
  font-size: 20px;
}

.detail-grid{
  width: 680px;
  background-color: lightgrey;
  padding: 10px;
  div{
    padding-right: 0px;
    div:nth-child(odd){
      font-weight: bold;
    }
  }
}

div.product-review {
  margin-top: 10px;
  bottom: 16px;
}

section.product-review{
  margin: 30px 30px;
  padding: 10px 30px;

  border-top: 1px solid lightgrey;
  .review-title{
    margin: 15px 0px;
    font-size: 16px;
    font-weight: bold;
  }

  h2{
    font-size: 24px;
    margin-bottom: 20px;
  }


}

.review-row{
  margin: 30px 0px;
}

.stars{
  mat-icon{
    font-size: 26px;
    height: fit-content;
    width: fit-content;
  }
}








