<section class="product-detail-info mb-3 mt-3">
  <div class="product-detail-image">
    <img src="{{(product$|async)?.image}}" alt="{{(product$|async)?.name}}" style="width: 480px;">
  </div>
  <div class="product-detail-text me-5">
    <h1>{{(product$|async)?.name}}</h1>
    <p>{{(product$|async)?.capacity}}</p>
    <h2 class="mt-4 mb-3">{{(product$|async)?.price | currency}}</h2>
    <section class="quantity-cart row mb-4">
      <div class="quantity-container col-3">
          <span class="">Quantity</span>
          <input type="number" min="1"[(ngModel)]="qty" value="1" required (ngModelChange)="checkStock(product$.value?.id)">
      </div>
      <button class="col-5 me-5" mat-raised-button color="primary" (click)="addToCart(product,$event)">Add to Cart</button>
      <button *ngIf="ifLike(product$|async)" class="col-1 love-btn"
              mat-icon-button color="primary"
              (click)="removeFromFavorite(product$.value,$event)"><mat-icon>favorite</mat-icon>
      </button>
      <button *ngIf="!ifLike(product$|async)" class="col-1 love-btn"
              mat-icon-button color="primary"
              (click)="addToFavorite(product$.value,$event)"><mat-icon>favorite_outline</mat-icon>
      </button>
    </section>
    <ng-container *ngIf="showError">
      <div class="text-danger small p-0">We have only {{qty}} available at this time.</div>
    </ng-container>
    <section class="description-container mt-2 mb-4">
      <h3 class="pt-3"> Product Description</h3>
      <p>{{(product$|async)?.description}}</p>
    </section>

    <section class="detail-container mb-3">
      <h3 class="pt-3"> Product Details</h3>
      <div class="detail-grid">
        <div class="row mb-2">
          <div class="col-2">Country/State</div>
          <div class="col-5">{{(product$|async)?.region}}</div>
          <div class="col-1">Brand</div>
          <div class="col">{{(product$|async)?.brand}}</div>
        </div>
        <div class="row mb-2">
          <div class="col-2">Wine Type</div>
          <div class="col-5">{{(product$|async)?.category}}</div>
          <div class="col-1">Style</div>
          <div class="col">{{(product$|async)?.style}}</div>
<!--          <div class="col">Elegant</div>-->
        </div>
        <div class="row">
          <div class="col-2">Taste</div>
          <div class="col-5">{{(product$|async)?.taste}}</div>
<!--          <div class="col-5">Blackberry, Cherry</div>-->
          <div class="col-1">ABV</div>
<!--          <div class="col">14.6%</div>-->
          <div class="col">{{(product$|async)?.abv}}</div>
        </div>
      </div>

    </section>


  </div>
</section>
<section class="product-review">
<app-product-review [product]="product$|async"></app-product-review>
</section>



