
.example-container {
  width:100%;
  height: 100%;

}

:host ::ng-deep a.my-active {
  background-color: darkviolet;
}
.nb-menu .menu-item-active {
  color: blue;
}

.selected {
  background-color: blue !important;
}

.nb-menu .menu-item.active > .menu-item-link {
  color: blue !important;
}

