
<!--<nb-layout>-->
<!--  <nb-layout-header fixed>-->
<!--    <div>-->
<!--      <button mat-icon-button (click)="toggleSidebar()" [hidden]="!(auth.admin$|async)">-->
<!--        <mat-icon>menu</mat-icon>-->
<!--      </button>-->
<!--        Wine Aura Management System-->
<!--    </div>-->
<!--    <div class="m-auto"></div>-->
<!--    <div>-->
<!--      <button mat-raised-button color="primary" routerLink="/products">Go to Website</button>-->
<!--      <button *ngIf="auth.admin$|async" mat-stroked-button color="primary" (click)="logout()" routerLink="/products">Sign out</button>-->
<!--      <button *ngIf="!(auth.admin$|async)" mat-stroked-button routerLink="/admin/login">Sign In</button>-->
<!--      <button *ngIf="!(auth.admin$|async)" mat-button routerLink="/admin/register">Register</button>-->
<!--    </div>-->
<!--  </nb-layout-header>-->
<!--  <nb-sidebar [state]="auth.admin?'expanded':'collapsed'" class="menu-sidebar" tag="menu-sidebar">-->
<!--    <nb-menu [items]="menu">-->
<!--    </nb-menu>-->
<!--  </nb-sidebar>-->
<!--  <nb-layout-column class="colored-column-warning">-->
<!--    <router-outlet></router-outlet>-->
<!--  </nb-layout-column>-->
<!--</nb-layout>-->
<main>
  <nav class="sticky-top d-flex pt-4 pb-4 shadow">
    <div>
      <button mat-icon-button (click)="toggleSidebar()" [hidden]="!(auth.admin$|async)">
        <mat-icon>menu</mat-icon>
      </button>
      <span admin-tab-title>Wine Aura Management System</span>
    </div>
    <div class="m-auto"></div>
    <div>
      <button mat-raised-button color="primary" routerLink="/products">Go to Website</button>
      <button *ngIf="auth.admin$|async" mat-stroked-button color="primary" (click)="logout()" routerLink="/products">Sign out</button>
      <button *ngIf="!(auth.admin$|async)" mat-stroked-button routerLink="/admin/login">Sign In</button>
      <button *ngIf="!(auth.admin$|async)" mat-button routerLink="/admin/register">Register</button>
    </div>
  </nav>
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Enable body scrolling</button>

  <div class="d-flex">

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <p>Try scrolling the rest of the page to see this option in action.</p>
      </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>


