
.body,.router{
  width:100%;
  min-height:100vh;
}

nav{
  background-color:white;
  .menu-icon{
    font-size:30px;
    margin:auto;
    height: 30px;
  }
}

.title{
  font-size: 30px;
  font-weight: 450;
  margin: 0px 0px 20px 0px;
}

.menu-item{
  text-align: start !important;
  font-size:24px;
  font-weight: bold;
  height:max-content;
  padding:10px 20px 10px 40px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.84);
  div{
    width: 100%;
    padding:10px 30px;
  }
}

.menu-subItem{
  text-align: start !important;
  font-size:22px;
  font-weight: bold;
  height:max-content;
  //padding:10px 20px 10px 40px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.84);
  div.item{
    width: 100%;
    padding:10px 10px 10px 60px;
  }
}

.subItem{
  font-weight:400;
  font-size: 22px;
}

.menu-item:hover, .menu-subItem:hover{
  color: rgba(136, 11, 190, 0.85);
  cursor: pointer;
}

.my-active{
  color: rgba(136, 11, 190, 0.85);
}


button{
  margin:0px 15px;
}

.side-bar{
  position: fixed;
  top: 120px;
  left: 0;
  width: 330px;
  height:100%;
  flex-direction: column;
  padding: 30px 0px;
  div:hover{
    background-color: rgba(119, 136, 153, 0.12);
  }

}
.router{
  //margin-left: 330px;
  background-color: rgba(130, 144, 162, 0.21);
  padding: 40px;
  width:100%
}
