
<main>
  <nav class="sticky-top d-flex pt-4 pb-4 shadow">
    <div>
      <button (click)="toggleSide($event)" mat-icon-button  [hidden]="!(auth.admin$|async)">
        <mat-icon class="menu-icon">menu</mat-icon>
      </button>
      <a mat-button class="title">Wine Aura Management System</a>
    </div>
    <div class="m-auto"></div>
    <div>
      <button mat-raised-button color="primary" routerLinkActive="my-active" routerLink="/products">Go to Website</button>
      <button *ngIf="auth.admin$|async" mat-stroked-button color="primary" (click)="logout()" routerLinkActive="my-active" routerLink="/products">Sign out</button>
      <button *ngIf="!(auth.admin$|async)" mat-stroked-button routerLinkActive="my-active" routerLink="/admin/login">Sign In</button>
      <button *ngIf="!(auth.admin$|async)" mat-button routerLinkActive="my-active" routerLink="/admin/register">Register</button>
    </div>
  </nav>
  <div class="body d-flex">
    <div class="side-bar shadow" *ngIf="showSide">
      <a class="menu-item" routerLinkActive="my-active" routerLink="/admin/dashboard"><div class="item">Dashboard</div></a>
      <a class="menu-item" routerLinkActive="my-active" (click)="toggle()"><div class="item">Product</div></a>
      <a class="menu-item" *ngIf="show">
        <div class="item subItem" routerLinkActive="my-active" routerLink="/admin/product-list">&nbsp;&nbsp;&nbsp;&nbsp;Product List</div>
      </a>
      <a class="menu-item" *ngIf="show">
        <div class="item subItem" routerLinkActive="my-active" routerLink="/admin/category">&nbsp;&nbsp;&nbsp;&nbsp;Category</div>
      </a>
<!--      <a class="menu-item">-->
<!--        <div class="item subItem" routerLinkActive="my-active" routerLink="/admin/brand">&nbsp;&nbsp;&nbsp;&nbsp;Brand</div>-->
<!--      </a>-->
<!--      <a class="menu-item">-->
<!--        <div class="item subItem" routerLinkActive="my-active" routerLink="/admin/region">&nbsp;&nbsp;&nbsp;&nbsp;Region</div>-->
<!--      </a>-->
      <a class="menu-item" routerLinkActive="my-active" routerLink="/admin/order"><div class="item">Order</div></a>
      <a class="menu-item" routerLinkActive="my-active" routerLink="/admin/customer"><div class="item">Customer</div></a>
      <a class="menu-item" routerLinkActive="my-active" routerLink="/admin/administrator"><div class="item">Administrator</div></a>
      <a class="menu-item" routerLinkActive="my-active" routerLink="/admin/profile"><div class="item">Profile</div></a>
    </div>

    <div class="router" #myrouter>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>


