<!--<main class="d-flex flex-wrap column-gap-4 row-gap-4 justify-content-between">-->
<main fxFlex fxLayout="column" fxLayoutGap="4%">
  <app-total-static></app-total-static>
  <div fxFlex="100%" fxLayout="row" fxLayoutGap="4%">
    <section class="sales-chart">
      <app-sales-chart [orderPeriodMap]="orderMap$|async"
                       (periodChange)="getOrderByPeriod($event)"></app-sales-chart>
    </section>
    <section class="top-selling" fxFlex>
      <app-top-selling [topSelling]="topSelling$|async"></app-top-selling>
    </section>
  </div>
  <div fxFlex="100%" fxLayout="row" fxLayoutGap="4%" class="justify-content-between">
    <section class="recent-order" fxFlex>
      <app-recent-order [recentOrders]="recentOrders$|async"></app-recent-order>
    </section>
    <section class="category-chart" >
      <app-category-chart [categoryMap]="(categoryMap$|async)"></app-category-chart>
    </section>
  </div>

</main>
