<main class="d-flex flex-wrap justify-content-around gap-4">
  <section class="total-sales">
    <app-total-sales title="sales"></app-total-sales>
  </section>
  <section class="total-orders">
    <app-total-sales title="orders"></app-total-sales>
  </section>
  <section class="total-users">
    <app-total-sales title="users"></app-total-sales>
  </section>
  <section class="sales-chart">
    <app-sales-chart></app-sales-chart>
  </section>
  <section class="today">

  </section>
  <section class="recent-order">

  </section>
  <section class="category-chart">

  </section>
</main>
