.product-container{
  // up right bottom left
  margin: 20px 10px 20px 20px;
}
#price-range,#category,#region,#brand{
  border-right: 1px solid lightgrey;
  padding-bottom: 10px;
}

#filter-section{
  font-size: 16px;
  //border-right: 1px solid lightgrey;
}
#min-max{
  margin: 10px 6px 12px 0px;
}

.filter-input{
  width:45px;
  font-size: 16px;
  padding-left: 8px;
  margin: auto;
}

.go-btn{
  font-size: 14px;
  border: 2px black solid;
  height: fit-content;
  margin: auto;
}

h3{
  border-bottom: 1px solid lightgrey;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0px;
  padding-bottom: 8px;
}


.filter-body label{
  margin-bottom: 5px;
  input{
    margin-right: 5px;
  }
}

.products-list{
  border-top: 1px solid lightgrey;
  min-height: 80px;
}

.sort-container{
  mat-form-field{
    margin-left: auto;
    margin-right: auto;
    max-width: 190px;
    min-width: 120px;
  }
}

div.result-found{
  margin-bottom: 26px;
  padding: 16px 6px;
  background-color: rgba(182, 194, 203, 0.2);
}

#price-range{
  border-top: 1px solid lightgrey;
}
