.product-container{
  // up right bottom left
  margin: 20px 10px 20px 20px;
  border-top: 1px solid lightgrey;
}

#filter-section{
  border-right: 1px solid lightgrey;
}
#min-max{
  margin: 0px 6px 8px 0px;
}

.filter-input{
  width:45px;
  font-size: 14px;
  padding-left: 8px;
  margin: auto;
}

.go-btn{
  font-size: 14px;
  border: 2px black solid;
  height: fit-content;
  margin: auto;
}

h3{
  border-bottom: 1px solid lightgrey;
  font-weight: bold;
}



