mat-card{
  min-width: 240px;
  height: 450px;
  border-radius: 0;
  mat-card-content{
    height: 60px;
  }
}
mat-card-title{
  font-size: 18px;
}

p{
  font-size: 17px;
  font-weight: bold;
}

.img-container{
  height:220px;
  width:220px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
}
.product-overview-info{
  height: 350px;
  padding: 5px 10px;
}

@media (max-width: 1480px) {
  .product-overview-info {
    height: 380px;
  }
  mat-card {
    height: 480px;
  }
}

.product-overview-image{
  margin-top: 12px;
}

.cart-btn {
  margin: 0px 26px;
  button{
    width: 100%;
  }

}
