<mat-card *ngIf="product" [routerLink]="['/product-detail', product.id]">
  <div class="product-overview-info">
    <a>
      <div class="text-center img-container">
        <img class="product-overview-image" src={{product.image}}  alt="{{product.name}}">
      </div>
      <mat-card-header class="mb-1">
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.capacity}}</mat-card-subtitle>
      </mat-card-header>
    </a>
  </div>
  <div class="cart-btn d-flex flex-column justify-content-center">
    <p>{{product.price | currency}}</p>
    <button mat-raised-button color="primary" (click)="addToCart(product, $event)">Add to Cart</button>
  </div>
</mat-card>

