<h1>
  <mat-icon>library_books</mat-icon>&nbsp;Address Book
</h1>
<div class="address-container shadow">
  <div class="address row" *ngFor="let addr of userInfoService.userInfo.addresses">
    <div class="info col-6">
      <div>{{addr.address}}</div>
      <div>{{addr.city}}</div>
      <div>{{addr.state}}</div>
      <div>{{addr.zipcode}}</div>
    </div>
    <div class="operation col-3">
      <button mat-icon-button (click)="editAddress(addr)"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button (click)="deleteAddress(addr)"><mat-icon>delete</mat-icon></button>
    </div>
  </div>
  <div>
    <button mat-button (click)="addAddress()">Add New Address</button>
  </div>

</div>
