<mat-card class="total-sales-card">
  <mat-card-content>
    <div class="mb-3 d-flex justify-content-between align-items-center">
      <div class="h5">Total {{title}}</div>
      <div>
        <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
      </div>
    </div>
    <div class="number">
    </div>
    <mat-grid-list cols="5" rowHeight="60px" gutterSize="10px">
      <mat-grid-tile colspan="1">
        <div class="square-icon">
          <mat-icon>attach_money</mat-icon>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        $ 21,760
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <mat-icon>arrow_upward</mat-icon> 20%
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
