.total-sales-card{
  width:350px;
  padding: 20px 20px;
}
.square-icon{
  height: 40px;
  width: 40px;
  color:orange;
  background-color: rgba(255, 225, 0, 0.61);
  text-align: center;
  border-radius: 20%;
  display:flex;
  justify-content: center;
  align-items: center;
}
